<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floating Card</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="floating-card-outer-container">
    <div class="floating-card">
      <!-- Image by pikisuperstar on Freepik (https://www.freepik.com/free-vector/flat-design-ui-ux-landing-page_18275093.htm) -->
      <img class="card-image" src="../../assets/website.jpg" alt="logo" />
      <div class="card-details-container">
        <p class="card-title">Website</p>
        <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy.</p>
      </div>
    </div>
  </div>
</body>
</html>